recovery_only(`
    # ro.boottime.init.fsck.cache (set by init on fsck completion)
    # ro.adb.secure.recovery (set by recovery to control adbd security)
    set_prop(recovery, boottime_prop)
')
